[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.well {
  padding: 5px;
}

#chat-panel-body {
  height: 300px;
  overflow-y: scroll;
}

.top-buffer {
  margin-top: 20px;
}
