<div class="modal-content" ng-class="panelClass">
  <div class="modal-header panel-heading">
    <button type="button" class="close" data-dismiss="modal" ng-click="onNo()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{title}}</h4>
  </div>
  <div class="modal-body panel-body">
    <p>{{content}}</p>
  </div>
  <div class="modal-footer panel-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="onYes()">yes
    </button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="onNo()">no
    </button>
  </div>
</div>
